
<section class="wrapper">
    <div class="container">
  
    <div class="row">
      <video autoplay muted loop id="myVideo" autoplay>
        <source src="../../assets/video.mp4" type="video/mp4" >
        Your browser does not support HTML5 video.
      </video> 
   <div class="col-md-4"><div class="card text-white card-has-bg click-col" style="background-image:url('../../assets/photo56.png');">
    <a href="https://sante.founa.com/" target="balnk">           <img class="card-img d-none" src="../../assets/photo56.png" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
      <div class="card-img-overlay d-flex flex-column">
       <div class="card-body">
          <small class="card-meta mb-2">Mg</small>
          <h4 class="card-title mt-0 "><a class="text-white" herf="#">Les Produit Alimentaire</a></h4>
     
        </div>
        <div class="card-footer">
         <div class="media">
<img class="mr-3 rounded-circle" src="../../assets/mg.jpg" alt="Generic placeholder image" style="max-width:50px">
<div class="media-body">

</div>
</div>
        </div>
      </div>
    
    </a>
        </div></div>
       <div class="col-md-4"><div class="card text-white card-has-bg click-col" style="background-image:url('../../assets/catalogue.jpg');">
<a href="https://mgcatalogue.tn/" target="blank">           <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tree,nature" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
  <div class="card-img-overlay d-flex flex-column">
   <div class="card-body">
      <small class="card-meta mb-2">Mg </small>
      <h4 class="card-title mt-0 "><a class="text-white" herf="#">mg catalogue</a></h4>
    </div>
    <div class="card-footer">
     <div class="media">
<img class="mr-3 rounded-circle" src="../../assets/mg.jpg" alt="Generic placeholder image" style="max-width:50px">
<div class="media-body">

</div>
</div>
    </div>
  </div></a>
        </div></div>
    <div class="col-md-4"><div class="card text-white card-has-bg click-col" style="background-image:url('../../assets/3.jpg');">
      <a href="https://www.facebook.com/mgpageofficielle" target="blank">           <img class="card-img d-none" src="https://source.unsplash.com/600x900/?computer,design" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
        <div class="card-img-overlay d-flex flex-column">
         <div class="card-body">
            <small class="card-meta mb-2">Mg</small>
            <h4 class="card-title mt-0 "><a class="text-white" herf="#">MG Facebook</a></h4>

          </div>
          <div class="card-footer">
           <div class="media">
  <img class="mr-3 rounded-circle" src="../../assets/mg.jpg" alt="Generic placeholder image" style="max-width:50px">
  <div class="media-body">

  </div>
</div>
          </div>
        </div></a>
        </div></div>
    
  </div>
    
  </div>
  </section>
  