<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <img src="../assets/logo-MG.png" alt="" width="70px"> &nbsp;&nbsp;
  <a class="navbar-brand" routerLink="Home">Mg.tn</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
        <a class="nav-link" routerLink="Home">Home </a>
       
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="Admin"  *ngIf="isUserAuthenticated() && role()">Admin </a>
       
      </li>
      <li>
      <a class="nav-link" routerLink="Produit">Produit </a>
      </li>
      <li>
      <a class="nav-link" routerLink="Profile"  *ngIf="isUserAuthenticated()">Profile </a>  
      </li>

      
    </ul>
            <button type="button" class="btn btn-outline-warning" routerLink="Commande" *ngIf="isUserAuthenticated()"  >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>&nbsp;&nbsp;
              <span class="badge badge-danger">{{this.cs.counter()}}</span>
            </button>	&nbsp;
            <button type="button" class="btn btn-warning" routerLink="Login" *ngIf="!isUserAuthenticated()" >Login
            </button>	&nbsp;
            <button type="button" class="btn btn-warning" routerLink="Login" *ngIf="isUserAuthenticated()" (click)="logout()">Logout
            </button>	&nbsp;
            <button type="button" class="btn btn-outline-warning"  routerLink="signup" *ngIf="!isUserAuthenticated()">SignUp
            </button>
  </div >
</nav>















<router-outlet></router-outlet>



















<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-white">
  <!-- Section: Social media -->
  <hr>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4" >
          <!-- Content -->
          <h6 class="text-uppercase fw-bold " style="font-size: 20px;">
            <i class="fas fa-gem me-3"></i>  Mg.tn
          </h6>
          <p>
            mg est une chaîne de supermarchés tunisienne qui existe depuis plus de 100 ans.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4" style="font-size: 15px;">
            Partenaire
          </h6>
          <p>
            <a href="https://mgcatalogue.tn/" class="text-reset">Mg</a>
          </p>
          <p>
            <a href="https://www.lescatalogues.tn/catalogue-batam-tunisie" class="text-reset">Batam</a>
          </p>
          <p>
            <a href="https://sante.founa.com" class="text-reset">Founa</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4" style="font-size: 15px;">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Contact</a>
          </p>
          <p>
            <a href="https://www.facebook.com/mgpageofficielle" class="text-reset">Facebook</a>
          </p>
        
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4" style="font-size: 15px;">
            Contact
          </h6>
          <p><a href="https://goo.gl/maps/Yh9zfkXvFApsvUht5" target="_blank">Tunisie, Tunis,Monplisir</a> </p>
          <p>
          
           <a href="mailto: Contact@MG.tn">  Contact@MG.tn</a>
          </p>
          <p><a href="tel: +216 31 318 080"> +216 31 318 080</a></p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://MG.tn/">Mg.tn</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
